body {
  padding: 30px;
  background-color: #f5f5f5;
}

.card {
  $enable-shadows: true;
}

/* Left Column */
/*.container .row .col-md-4 .container .row .card {
  border-radius: 12px;
  box-shadow: 0px 5px 40px -20px #888888;
}

.container .row .col-md-4 .container .row .card .container .img-thumbnail {
  border-radius: 15px;
}*/

/* Right Column */
/*.container .row .col-md-8 .container .row {
  background-color: none;
  border-radius: 12px;
}

.container .row .col-md-8 .container .row .card {
  border-radius: 12px;
  box-shadow: 0px 5px 30px -20px #888888;
}

.container .row .col-md-8 .container .row .card .row .col-md-4 .card-img-top {
  border-radius: 12px 0 0 12px;
}*/
