body {
  padding: 30px;
  background-color: #f7f7f7;
}

/* Left Column */
.container .row .col-md-4 .container .row .card {
  border-radius: 12px;
  box-shadow: 0px 15px 40px -20px #888888;
}

.container .row .col-md-4 .container .row .card .container .img-thumbnail {
  border-radius: 15px;
}

/* Right Column */
.container .row .col-md-8 .container .row .card {
  border-radius: 12px;
  box-shadow: 0px 15px 40px -20px #888888;
}

.container .row .col-md-8 .container .row .card .row .col-md-4 .card-img-top {
  border-radius: 12px 0 0 12px;
}
